.contenedorespecial1{
background-image: url("8.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.contenedorespecial2{
background-image: url("5.jpg");
background-repeat: no-repeat;
background-size: cover;
}


.contenedorespecial3{
background-image: url("7.jpg");
background-repeat: no-repeat;
background-size: cover;
}
